@model HomeVM
<div id="ItemList">
    <div class="row px-lg-5 m-lg-4 m-sm-0 px-sm-0" style="--bs-gutter-x:0">
        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <div class="p-4 col-md-12 col-lg-6">
                        <div class="row" style="border-radius:5px; border: 1px solid #aaa">
                            <div class="col-4 p-2">
                                <img class="d-block w-100" style="border-radius:5px;" src="@item.ImageUrl">
                            </div>
                            <div class="col-8">
                                <div class="d-flex justify-content-between">
                                    <p class="card-title text-warning" style="font-size:xx-large">@item.Title</p>
                                    <div class="pt-2">
                                        <button asp-controller="Request" asp-action="RequestContact"
                                                asp-route-id="@item.Id" type="submit" class="btn btn-outline-warning">
                                            <i class="bi bi-file-earmark-ppt"></i> Request Seller's Contact
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text">
                                    @Html.Raw(item.Description)
                                </p>
                                <p class="card-text" style="font-size:large">
                                    @String.Format("{0},{1},{2},{3},{4}", item.AddressLine1, item.AddressLine2, item.City, item.State, item.ZipCode)
                                </p>
                                <p class="card-text" style="font-size:large">
                                    Date Listed: @item.DateListed
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="row pb-3 pt-2">
                                    <div class="col-4">
                                        <span class="text-warning float-end font-weight-bold pt-1" style="font-size:25px;">
                                            @if (item.Price == 0)
                                            {
                                                <span style="color:green">Free</span>
                                            }
                                            else
                                            {
                                                <span style="#ff6a00">
                                                    USD @item.Price.ToString("c")
                                                </span>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </tbody>
        </table>
        
    </div>
</div>
